{% if template == 'index' %}
  <title>{{ page_title }}</title>
{% elsif template == '404' %}
  <title>Page Not Found at {{ shop.name }}</title>
{% elsif template == 'collection' %}
  <title>{{ page_title }} {% for tag in current_tags %}{{ tag | capitalize | replace: '-', ' ' }}{% unless forloop.last %}, {% endunless %}{% endfor %}</title>
{% elsif template == 'product' %}
  <title>{{ product.vendor }} | {{ product.title }} at {{ shop.name }}</title>
{% elsif page.url == '*/collections/types?q=*' %}
  <title>New Page Title</title> 
{% else %}
  <title>Statement Jewellery | {{ page_title }} at {{ shop.name }}</title>
{% endif %}