<h2 class="title clearfix" role="banner">
  {% if settings.checkout_use_logo_image %}
    <a href="/" role="banner" title="{{ shop.name }}">
    <img src="{{ 'checkout_logo_image.png' | asset_url }}" data-retina="{{ 'logo-retina.png' | asset_url }}" alt="{{ shop.name }}" style="width: 180px !important;"> 
    </a>
  {% else %}
    <a href="/">{{ shop.name }}</a>
  {% endif %}
</h2>