{% if settings.cart-shipping-calculator-show %}
<img class="loading-spinner" style="margin: 30px;" width="24" height="24" src="{{ 'AjaxLoader.gif' | asset_url }}"/>
<div id="shipping-calculator" class="shipping-calculator">
  <h3>Shipping Calculator</h3>

  <div>
    
    <p class="country-select-container">
      <label for="address_country">Country</label>
        <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </p>


    <p id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label">Province</label>
      <select id="address_province" class="address_form" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </p>
  </div>

  <p>
    <label for="address_zip">Zip/Postal Code</label>
    <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
    <input type="button" class="button get-rates" value="Calculate Shipping" />
  </p> 

  
  <div id="wrapper-response"></div>
  
</div>

<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
  {% raw %}
  <p id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
  {{if success}}
    {{if rates.length > 1}}
    There are ${rates.length} shipping rates available for ${address}, starting at {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.
    {{else}}
      {{if rates.length == 1}}
      There is one shipping rate available for ${address}.
      {{else}}
      We do not ship to this destination.
      {{/if}}
    {{/if}}
  {{else}}
    ${errorFeedback}
  {{/if}}
  </p>
  <ul id="shipping-rates">
    {{each( index, rate ) rates}}
    <li>${rate.name} at {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}</li>
    {{/each}}
  </ul>
  {% endraw %} 
</script>

<script type="text/javascript" charset="utf-8">
//<![CDATA[
// Including jQuery conditionnally.
if (typeof jQuery === 'undefined') {
  document.write({{ "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" | script_tag | json }});
  document.write('<script type="text/javascript">jQuery.noConflict();<\/script>');
}

//]]>
</script>
{{ "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" | script_tag }}
{{ "/services/javascripts/countries.js" | script_tag }}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}

<script>
$( document ).ready(function() {

  $('#address_country').on('change', function() {
    $('.loading-spinner').show()
    $('.shipping-calculator').hide()
    if ($(this).val() == '') {
      $(this).val($(this).attr('data-default'));
    }
    Foundation.libs.forms.refresh_custom_select($(this), true);
    setTimeout(function() {
      $('.loading-spinner').hide();
      $('.shipping-calculator').show();
    }, 200);
  });

  $('#address_province').on('change', function() {
    if ($(this).val() == '') { 
      $(this).val($(this).attr('data-default'));
    }
    Foundation.libs.forms.refresh_custom_select($(this), true);
  });

  Shopify.CountryProvinceSelector2 = function(country_domid, province_domid, options) {
    var $countryEl;

    this.countryEl = document.getElementById(country_domid);
    this.provinceEl = document.getElementById(province_domid);
    this.provinceContainer = document.getElementById(options["hideElement"] || province_domid);
    $countryEl = this.countryEl;
    $($countryEl).bind('change', Shopify.bind(this.countryHandler, this));
    this.initCountry();
    return this.initProvince();
  };

  Shopify.CountryProvinceSelector2.prototype = Shopify.CountryProvinceSelector.prototype;

  Shopify.CountryProvinceSelector2.prototype.setOptions = function(selector, values) {
    var i, opt, _i, _ref;

    opt = document.createElement("option");
    opt.value = '';
    opt.innerHTML = '-- Please Select --';
    selector.appendChild(opt);

    for (i = _i = 0, _ref = values.length - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
      opt = document.createElement("option");
      opt.value = values[i];
      opt.innerHTML = values[i];
      selector.appendChild(opt);
      i++;
    }
    return $(selector).change();
  };

  $('#address_country').trigger('change');
});
</script>

{{ "jquery.cart.js" | asset_url | script_tag }} 

<script>

Shopify.Cart.ShippingCalculator.show( {
  submitButton: 'Calculate Shipping', 
  submitButtonDisabled: 'Calculating...'{% if shop.customer_accounts_enabled and customer %},
  customerIsLoggedIn: true{% endif %},
  moneyFormat: {{ shop.money_with_currency_format | json }}
} );


</script>

{% endif %}