<div class="collection-item columns large-3">
   <a href="{{ collection.url }}">
      <div class="image-wrapper">
          <div class="reveal">
            {{ collection.image.src | collection_img_url: 'large' | img_tag: collection.image.alt }}
            <div class="hidden">
              {{ collection.products.first.featured_image.src | product_img_url: 'large' | img_tag: collection.title }}
              <div class="caption">
                 <div class="bg"></div>
                 <div class="inner">
                    <div class="title">{{ collection.title }}</div>
                    <p class="product-count">{{ collection.all_products_count }} {{ collection.all_products_count | pluralize:'product','products' }}</p>
                 </div>
              </div>
            </div>
          </div>
      </div>
   </a>
</div>
{% cycle 'clear-row': '', '', '', '<div class="clearfix"></div>' %}