{% if template == 'index' %}
  <title>{{ page_title }}</title>
{% elsif template == '404' %}
  <title>Page Not Found at {{ shop.name }}</title>
{% elsif template == 'blog' %}
	<title>Unique Jewellery | {{page_title}} | Page {{current_page}}</title>
{% elsif template == 'collection' %}
  <title>{{ page_title }} | {% for tag in current_tags %}{{ tag | capitalize | replace: '-', ' ' }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% if current_page != 1 %} | Page {{current_page}}{% endif %}</title>
{% elsif template == 'product' %}
  <title>{{ product.vendor }} | {{ product.title }}</title>
{% else %}
  <title>Statement Jewellery | {{ page_title }}</title>
{% endif %}