<div class="hero--desktop" style="background: url({{ 'home-block-desktop-hero-1.jpg' | asset_url }}) center top/100%;">
  <div class="hero-content-area">
    <div class="large-8 graphic-overlay--dark tight-title">
      <h1>{{ settings.hero-title }}</h1>
    </div>
  </div>
  <div class="carousel__lvbt-sign-off">
    <h3>14 UNIQUE BRANDS FROM 9 COUNTRIES. <br />1 DESTINATION TO SHOP</h3>
  </div>
</div>

<div class="hero--mobile" style="background: url({{ 'home-block-mobile-hero-1.jpg' | asset_url }}) top right/auto 100%;">
  <div class="hero-content-area">
    <div class="graphic-overlay--dark tight-title">
      <h1 style="headline dark">{{ settings.hero-title }}</h1>
    </div>
  </div>
  <div class="carousel__lvbt-sign-off">
    <h3>14 UNIQUE BRANDS FROM 9 COUNTRIES. <br />1 DESTINATION TO SHOP</h3>
  </div>
</div>

<div class="brand-block">
  <div class="brands__content">
    <div class="large-10 push-1 brands__text-area text-center">
      <h2><span>{{ settings.home-brand-block-heading }}</span></h2>
      <p class="para">{{ settings.home-brand-block-intro }}</p>
      <p class="para">{{ settings.home-brand-block-cta }} <i class="fa fa-chevron-down"></i></p>
    </div>

    <div class="grid brand-images" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 0 }'>
      <div class="row">

        {% if settings.brand-block-image-text-1 %}  
        <div class="columns {% if settings.brand-block-image-style-1 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="/collections/posh">
            <div class="{{ settings.brand-block-image-style-1 }} hp-black">
              <img src="{{ 'brand-block-image-text-1.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-1-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-1-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-2 %}
        <div class="columns {% if settings.brand-block-image-style-2 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-2-link }}">
            <div class="{{ settings.brand-block-image-style-2 }} hp-black">
              <img src="{{ 'brand-block-image-text-2.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-2-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-2-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-3 %}
        <div class="columns {% if settings.brand-block-image-style-3 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-3-link }}">
            <div class="{{ settings.brand-block-image-style-3 }} hp-black">
              <img src="{{ 'brand-block-image-text-3.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-3-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-3-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-4 %}
        <div class="columns {% if settings.brand-block-image-style-4 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-4-link }}">
            <div class="{{ settings.brand-block-image-style-4 }} hp-black">
              <img src="{{ 'brand-block-image-text-4.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-4-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-4-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-5 %}
        <div class="columns {% if settings.brand-block-image-style-5 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-5-link }}">
            <div class="{{ settings.brand-block-image-style-5 }} hp-black">
              <img src="{{ 'brand-block-image-text-5.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-5-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-5-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-6 %}
        <div class="columns {% if settings.brand-block-image-style-6 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-6-link }}">
            <div class="{{ settings.brand-block-image-style-6 }} hp-black">
              <img src="{{ 'brand-block-image-text-6.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-6-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-6-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-7 %}
        <div class="columns {% if settings.brand-block-image-style-7 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-7-link }}">
            <div class="{{ settings.brand-block-image-style-7 }} hp-black">
              <img src="{{ 'brand-block-image-text-7.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-7-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-7-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>

        </div>
        {% endif %}

        {% if settings.brand-block-image-text-8 %}
        <div class="columns {% if settings.brand-block-image-style-8 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-8-link }}">
            <div class="{{ settings.brand-block-image-style-8 }} hp-black">
              <img src="{{ 'brand-block-image-text-8.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-8-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-8-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-9 %}
        <div class="columns {% if settings.brand-block-image-style-9 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <div class="{{ settings.brand-block-image-style-9 }} hp-black">
            <a href="{{ settings.brand-block-image-text-9-link }}">
              <img src="{{ 'brand-block-image-text-9.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-9-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-9-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </a>
          </div>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-10 %}
        <div class="columns {% if settings.brand-block-image-style-10 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-10-link }}">
            <div class="{{ settings.brand-block-image-style-10 }} hp-black">
              <img src="{{ 'brand-block-image-text-10.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-10-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-10-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-11 %}
        <div class="columns {% if settings.brand-block-image-style-11 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-11-link }}">
            <div class="{{ settings.brand-block-image-style-11 }} hp-black">
              <img src="{{ 'brand-block-image-text-11.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-11-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-11-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if settings.brand-block-image-text-12 %}
        <div class="columns {% if settings.brand-block-image-style-12 == 'brands__image--wide' %}hlf{% else %}qrt{% endif %} single-brand grid-item">
          <a href="{{ settings.brand-block-image-text-12-link }}">
            <div class="{{ settings.brand-block-image-style-12 }} hp-black">
              <img src="{{ 'brand-block-image-text-12.jpg' | asset_url }}" alt="{{ settings.brand-block-image-text-12-alt }}" />
              <div class="lvbt-title">{{ settings.brand-block-image-text-12-title }}<i class="fa fa-angle-right"></i></div>
              <div class="btn"><span>EXPLORE</span></div>
            </div>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <a class="ghost-button-semi-transparent--fixed" href="/collections">Explore all brands</a>
  </div>
</div>

{% if settings.home-product-slider-collection == blank or collections[settings.home-product-slider-collection].handle != settings.home-product-slider-collection %}
{% for c in collections %}
{% if c.products-count > 0 %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% else %}
{% assign collection = collections[settings.home-product-slider-collection] %}
{% endif %}

<div class="feature-block">
  <div class="content-area">
    <div class="content-block">
      <h2 class="text-center"><span>{{ settings.home-feature-block-heading }}</span></h2>
      <p>{{ settings.product-slider-body }}</p>
      {% if collection.products.size %}
    </div>
    <div class="row">
      <div class="feature-grid">
        {% for product in collection.products limit: "4" %}
        {% include 'snippet-homepage-collection' %}
        {% endfor %}
        {% for product in collection.products limit: "4" offset: "4" %}
        {% include 'snippet-homepage-item2' %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>


<a href="{{ settings.home-promo-link-url }}">
  <div class="image-promo" style="background-image: url({{ 'home-block-promo-strip-1.jpg' | asset_url }})">
    <div class="image-promo__content">
      <div class="large-6 graphic-overlay--dark tight-title">
        <h2 class="text-center">{{ settings.promo-title }}</h2>
      </div>
    </div>
  </div>
</a>


<div class="service-block">
  <div class="content-area">
    <h2 class="text-center">{{ settings.services-title }}</h2>
    <div class="large-10 centered content-block">
      <div class="columns--wider large-4 content-item">
        <img src="{{ 'service-pillar-1-icon.png' | asset_url }}" alt="{{ settings.service-pillar-1-title }}">
        <h4 class="fourth-level-text">{{ settings.service-pillar-1-title }}</h4>
        <p class="para text-justify">{{ settings.service-pillar-1-body }}</p>
        <div class="text-center">
          <a class="ghost-button-semi-transparent--flex" href="{{ settings.service-pillar-1-link }}">{{ settings.service-pillar-1-cta }}</a>
        </div>
      </div>
      <div class="columns--wider large-4 content-item">
        <img src="{{ 'service-pillar-2-icon.png' | asset_url }}" alt="{{ settings.service-pillar-2-title }}">
        <h4 class="fourth-level-text">{{ settings.service-pillar-2-title }}</h4>
        <p class="para text-justify">{{ settings.service-pillar-2-body }}</p>
        <div class="text-center">
          <a class="ghost-button-semi-transparent--flex" href="{{ settings.service-pillar-2-link }}">{{ settings.service-pillar-2-cta }}</a>
        </div>
      </div>
      <div class="columns--wider large-4 content-item">
        <img src="{{ 'service-pillar-3-icon.png' | asset_url }}" alt="{{ settings.service-pillar-3-title }}">
        <h4 class="fourth-level-text">{{ settings.service-pillar-3-title }}</h4>
        <p class="para text-justify">{{ settings.service-pillar-3-body }}</p>
        <div class="text-center">
          <a class="ghost-button-semi-transparent--flex" href="{{ settings.service-pillar-3-link }}">{{ settings.service-pillar-3-cta }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="review-block">
  <div class="content-area">
    <h2 class="text-center">{{ settings.home-review-block-title }}</h2>
    <div class="row large-7 content-block centered hero">
      <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/single_quote.png" alt="Single quote" width="40" style="margin: 2.5em 0;">
      <p>{{ settings.home-review-block-hero }}</p>
    </div>
    <p class="rw-so para" style="">Independent customer review<br />Read more reviews <a href="#"><strong>powered by Trustpilot</strong></a></p>
  </div>
</div>

<div class="social-block">
  <div class="content-area">
    <div class="">
      <h2 class="text-center">Stay in the know</h2>
      <div class="centered content-block">
        <a href="{{ settings.home-social-block-1 }}"><img class="large-1 social-icon" src="{{ 'home-social-block-1.png' | asset_url }}" alt="{{ settings.home-social-block-1-alt }}"></a>
        <a href="{{ settings.home-social-block-2 }}"><img class="large-1 social-icon" src="{{ 'home-social-block-2.png' | asset_url }}" alt="{{ settings.home-social-block-2-alt }}"></a>
        <a href="{{ settings.home-social-block-3 }}"><img class="large-1 social-icon" src="{{ 'home-social-block-3.png' | asset_url }}" alt="{{ settings.home-social-block-3-alt }}"></a>
        <a href="{{ settings.home-social-block-4 }}"><img class="large-1 social-icon" src="{{ 'home-social-block-4.png' | asset_url }}" alt="{{ settings.home-social-block-4-alt }}"></a>
        <a href="{{ settings.home-social-block-5 }}"><img class="large-1 social-icon" src="{{ 'home-social-block-5.png' | asset_url }}" alt="{{ settings.home-social-block-5-alt }}"></a>
      </div>
    </div>
  </div>
</div>