{% assign widgets_order = settings.home-widgets-order | downcase | replace: ' ', '' | split: ',' %}
{% for widget_order in widgets_order %}
{% if widget_order == 'a' %}

<section class="slider {{ settings.color-icons-theme }}">
  <div class="row">
    <div class="slides">

      {% for i in (1..7) %}

      {% capture slide_enabled %}home-slider-slide-{{ i }}-enabled{% endcapture %}

      {% capture slide_img %}home-slider-slide-{{ i }}.jpg{% endcapture %}
      {% capture slide_media_type %}home-slider-slide-{{ i }}-type{% endcapture %}
      {% capture slide_bg_color %}home-slider-slide-{{ i }}-bg-color{% endcapture %}
      {% capture slide_title %}home-slider-slide-{{ i }}-title{% endcapture %}
      {% capture slide_tagline %}home-slider-slide-{{ i }}-tagline{% endcapture %}
      {% capture slide_link_url %}home-slider-slide-{{ i }}-link-url{% endcapture %}
      {% capture slide_link_title %}home-slider-slide-{{ i }}-link-title{% endcapture %}
      {% capture slide_x_pos %}home-slider-slide-{{ i }}-x-pos{% endcapture %}
      {% capture slide_y_pos %}home-slider-slide-{{ i }}-y-pos{% endcapture %}
      {% capture slide_text_pos %}home-slider-slide-{{ i }}-text-pos{% endcapture %}
      {% capture slide_video %}home-slider-slide-{{ i }}-video{% endcapture %}

      {% if settings[slide_enabled] %}

      {% assign caption_exists = false %}
      {% if settings[slide_title].size > 0 or settings[slide_tagline].size > 0 or settings[slide_link_title].size > 0 %}
      {% assign caption_exists = true %}
      {% endif %}

      {% assign link_whole_slide = false %}
      {% if settings[slide_link_url].size > 0 and caption_exists == false and settings[slide_video].size == 0 %}
      {% assign link_whole_slide = true %}
      {% endif %}

      <div class="slide{% if settings[slide_video].size > 0 %} video{% endif %}">

        {% if link_whole_slide %}
        <a href="{{ settings[slide_link_url] }}">
          {% endif %}
          {{ slide_img | asset_url | img_tag }}

          {% if settings[slide_video].size > 0 %}

          {% assign video_src = '' %}
          {% assign attributes = settings[slide_video] | split: ' ' %}
          {% for attribute in attributes %}
          {% assign match = attribute | truncate: 4, '' %}
          {% if match == 'src=' or match == 'http' %}
          {% assign video_src = attribute | replace: 'src=', '' | replace: '"', '' | replace: "'", ""  %}
          {% endif %}
          {% endfor %}

          <a href="{{ video_src }}" class="play-button"><div class="triangle"></div></a>

          {% endif %}

          {% if caption_exists %}
          <div class="caption {{ settings[slide_x_pos] }} {{ settings[slide_y_pos] }} {{ settings[slide_text_pos] }}">
            <div class="bg"></div>
            {% if settings[slide_title].size > 0 %}
            <h2 class="title">{{ settings[slide_title] }}</h2>
            {% endif %}

            {% if settings[slide_tagline].size > 0 %}
            <h3 class="sub-title">{{ settings[slide_tagline] }}</h3>
            {% endif %}

            {% if settings[slide_link_title].size > 0 %}
            <a class="button" href="{{ settings[slide_link_url] }}">{{ settings[slide_link_title] }}</a>
            {% endif %}
          </div><!--.slide_caption -->
          {% endif %}

          {% if link_whole_slide %}
        </a>
        {% endif %}
      </div>
      {% endif %}

      {% endfor %}
    </div>
  </div>
</section>

<div class="modal video">
  <div class="bg"></div>
  <a aria-hidden="true" class="close glyph cross"></a>
  <div class="player columns large-8">
    <div class="flex-video"></div>
  </div>
  <div class="caption columns large-4"></div>
</div>
<div class="modal-mask"></div>

{% elsif widget_order == 'b' %}

{% if settings.home-product-slider-collection == blank or collections[settings.home-product-slider-collection].handle != settings.home-product-slider-collection %}
{% for c in collections %}
{% if c.products-count > 0 %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% else %}
{% assign collection = collections[settings.home-product-slider-collection] %}
{% endif %}

<div class="product-slider {{ settings.color-icons-theme }}">
  <div class="row header">
    <div class="columns">
     <h2 class="font-headings clearfix">{{ settings.home-product-slider-title | link_to: collection.url }}</h2>
   </div>
 </div>
 <div class="row content">
  {% if collection.products.size %}
  <div class="product-grid clearfix">
    {% for product in collection.products limit: settings.home-product-slider-limit %}
    {% include 'snippet-home-product-item' with 'product-slider' %}
    {% endfor %}
  </div>
  {% else %}
  <p style="text-align:center;" class="colored-links">Your <strong>{{ collection.title }}</strong> collection is empty. <a target="_blank" href="{{ shop.url }}/admin/collections/">Go and add some products to it</a>.</p>
  {% endif %}
</div>
</div><!-- #product-slider -->

{% elsif widget_order == 'c' %}
<div class="widgets">
  <div class="featured-promo">
    <div class="row">

      {% assign left_type = settings.home-featured-promo-left-type %}
      {% assign right_type = settings.home-featured-promo-right-type %}

      {% assign widget_text_align = settings["home-featured-promo-text-align"] %}
      {% assign widget_title = settings["home-featured-promo-title"] %}
      {% assign widget_description = settings["home-featured-promo-description"] %}
      {% assign widget_link_text = settings["home-featured-promo-link-text"] %}
      <!-- {% assign widget_link_text_2 = settings["home-featured-promo-link-text-2"] %} -->
      {% assign widget_link_url = settings["home-featured-promo-link-url"] %}
      <!-- {% assign widget_link_url_2 = settings["home-featured-promo-link-url-2"] %} -->

      {% assign widget_image_a = "home-featured-promo-a.png" %}
      {% assign widget_image_link_a = settings["home-featured-promo-image-link-a"] %}
      {% assign widget_alt_a = settings["home-featured-promo-alt-a"] %}

      {% assign widget_image_b = "home-featured-promo-b.png" %}
      {% assign widget_image_link_b = settings["home-featured-promo-image-link-b"] %}
      {% assign widget_alt_b = settings["home-featured-promo-alt-b"] %}

      {% assign widget_vimeo_code = settings["home-featured-promo-video"] %}

      {% for i in (1..2) %}
      {% if forloop.first %}
      {% assign block_type = settings.home-featured-promo-left-type %}
      {% else %}
      {% assign block_type = settings.home-featured-promo-right-type %}
      {% endif %}

      {% if block_type == 'none' %}{% continue %}{% endif %}

      <div class="columns{% if block_type == 'text' %} {{ widget_text_align}}{% endif %}{% unless settings.home-featured-promo-right-type == 'none' %} large-6{% endunless %}">

        {% if block_type == 'text'  %}

        {% if widget_title.size > 0 %}
        <h3 class="title">{{ widget_title }}</h3>
        {% endif %}

        <div class="description">
          {{ widget_description | newline_to_br  }}
          {% if widget_link_text.size > 0 %}
          <p class="call-to-action">
            <a class="button" href="{{ widget_link_url }}">{{ widget_link_text }}</a>
            <!-- <a class="button" style="display: table;" href="{{ widget_link_url_2 }}">{{ widget_link_text_2 }}</a> -->
            <p>
              {% endif %}
            </div>

            {% elsif block_type == 'image-a' %}

            {% if widget_image_link_a != empty %}
            {{ widget_image_a | asset_url | img_tag: widget_alt_a | link_to: widget_image_link_a }}
            {% else %}
            {{ widget_image_a | asset_url | img_tag: widget_alt_a }}
            {% endif %}

            {% elsif block_type == 'image-b' %}

            {% if widget_image_link_b != empty %}
            {{ widget_image_b | asset_url | img_tag: widget_alt_b | link_to: widget_image_link_b }}
            {% else %}
            {{ widget_image_b | asset_url | img_tag: widget_alt_b }}
            {% endif %}

            {% elsif block_type == 'video' %}

            <div class="vimeo-wrapper">
              <div class="flex-video">
                {{ widget_vimeo_code }}
              </div>
            </div>

            {% endif %}

          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    {% elsif widget_order == 'f' %}
    <div class="widgets">
      <div class="featured-promo">
        <div class="row">

          {% assign left_type = settings.home-featured-promo-left-type %}
          {% assign right_type = settings.home-featured-promo-right-type %}

          {% assign widget_text_align = settings["home-featured-promo-text-align"] %}
          {% assign widget_title = settings["home-featured-promo-title"] %}
          {% assign widget_description = settings["home-featured-promo-description"] %}
          {% assign widget_link_text = settings["home-featured-promo-link-text"] %}
          {% assign widget_link_url = settings["home-featured-promo-link-url"] %}

          {% assign widget_image_a = "home-featured-promo-a.png" %}
          {% assign widget_image_link_a = settings["home-featured-promo-image-link-a"] %}
          {% assign widget_alt_a = settings["home-featured-promo-alt-a"] %}

          {% assign widget_image_b = "home-featured-promo-b.png" %}
          {% assign widget_image_link_b = settings["home-featured-promo-image-link-b"] %}
          {% assign widget_alt_b = settings["home-featured-promo-alt-b"] %}

          {% assign widget_vimeo_code = settings["home-featured-promo-video"] %}

          {% for i in (1..2) %}
          {% if forloop.first %}
          {% assign block_type = settings.home-featured-promo-left-type %}
          {% else %}
          {% assign block_type = settings.home-featured-promo-right-type %}
          {% endif %}

          {% if block_type == 'none' %}{% continue %}{% endif %}

          <div class="columns{% if block_type == 'text' %} {{ widget_text_align}}{% endif %}{% unless settings.home-featured-promo-right-type == 'none' %} large-6{% endunless %}">

            {% if block_type == 'text'  %}

            {% if widget_title.size > 0 %}
            <h3 class="title">{{ widget_title }}</h3>
            {% endif %}

            <div class="description">
              {{ widget_description | newline_to_br  }}
              {% if widget_link_text.size > 0 %}
              <p class="call-to-action">
                <a class="button" href="{{ widget_link_url }}">{{ widget_link_text }}</a>
                <!-- <a class="button" style="display: table;" href="{{ widget_link_url_2 }}">{{ widget_link_text_2 }}</a> -->
                <p>
                  {% endif %}
                </div>

                {% elsif block_type == 'image-a' %}

                {% if widget_image_link_a != empty %}
                {{ widget_image_a | asset_url | img_tag: widget_alt_a | link_to: widget_image_link_a }}
                {% else %}
                {{ widget_image_a | asset_url | img_tag: widget_alt_a }}
                {% endif %}

                {% elsif block_type == 'image-b' %}

                {% if widget_image_link_b != empty %}
                {{ widget_image_b | asset_url | img_tag: widget_alt_b | link_to: widget_image_link_b }}
                {% else %}
                {{ widget_image_b | asset_url | img_tag: widget_alt_b }}
                {% endif %}

                {% elsif block_type == 'video' %}

                <div class="vimeo-wrapper">
                  <div class="flex-video">
                    {{ widget_vimeo_code }}
                  </div>
                </div>

                {% endif %}

              </div>
              {% endfor %}

            </div>
          </div>
        </div>


        {% elsif widget_order == 'd' %}
        <div class="widgets">
          {% assign column_count = 4 %}





    <div class="widgets flash-sale">
      <div class="row">
        <div class="columns large-12">
          <h1 class="">Hello, beautiful</h1>
          <h2 class="">Uncover spring 2016 style</h2>
          <a class="button" href="/collections/all">shop now</a>
        </div>
      </div>
    </div>

    <section class="slider">
      <div class="slides">
        <div class="slide">
          <div class="announcement">
            <div class="">
              <div class="large-12">
                <div class="columns large-4">
                  <h5>Worldwide shipping <i class="fa fa-globe"></i></h5>
                </div>
                <div class="columns large-4">
                  <h5><strong>Free</strong> UK delivery <i class="fa fa-truck fa-flip-horizontal"></i></h5>
                </div>
                <div class="columns large-4">
                  <h5>UK Customer Service <i class="fa fa-comments-o"></i></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="announcement">
            <div class="">
              <div class="large-12">
                <div class="columns">
                  <h5><a href="/">SIGN UP TO OUR NEWSLETTER TODAY AND RECEIVE <strong>10% OFF YOUR FIRST ORDER</strong></a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if column_count > 0 %}
      <div class="small-promos">
        <div class="row">
          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/mya-bay">
                <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/mya-bay-block.jpg?12878094668853684142" alt="MYA BAY at LVBT" />
                <div class="mjbtitle">
                  <figcaption class="inner">
                    <h3>MYA BAY<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </figcaption>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/leone">
                <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/leone-jewellery-lvbt_large.jpg?187903706606867438" alt="Leone Bisjoux Jewellery from France at LVBT" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>L&eacute;one<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/miss-lesley">
                <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/miss-lesley-block.jpg?12878094668853684142" alt="Miss Lesley of South Africa exclusively at LVBT" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>Miss Lesley<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/lvbt"><img src="https://cdn.shopify.com/s/files/1/0653/1555/files/rings-at-lvbt.jpg?11871397062105060929" alt="Own label LVBT brands" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>LVBT<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="tall-aspect-image box effect-black-fill">
              <a href="/collections/posh">
                <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/ajax-loader.gif?11109608897749343053" data-src="https://cdn.shopify.com/s/files/1/0653/1555/files/posh-block.jpg?12878094668853684142" alt="Posh bags exclusively at LVBT" />
                <div class="mjbtitle">
                  <div class="tall-inner">
                    <h3>Posh Bags<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/monte-jewellery">
                <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/ajax-loader.gif?11109608897749343053" data-src="https://cdn.shopify.com/s/files/1/0730/5135/files/monte-jewellery-lvbt_large.jpg?16561676669070095237" alt="Monte Jewellery of Turkey at LVBT" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>Monte Jewellery<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/bisjoux"><img src="https://cdn.shopify.com/s/files/1/0730/5135/files/Bisjoux-Image-2_large.jpg?5085400816675551419" alt="Bisjoux Jewellery of New York at LVBT" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>Bisjoux<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/ashiana">
                <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/ajax-loader.gif?11109608897749343053" data-src="https://cdn.shopify.com/s/files/1/0653/1555/files/ashiana-block.jpg?12878094668853684142" alt="Ashiana at LVBT" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>Ashiana<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/amadoria">
                <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/ajax-loader.gif?11109608897749343053" data-src="https://cdn.shopify.com/s/files/1/0653/1555/files/amadoria-at-lvbt_large.jpg?13032052720102941618" alt="Amadoria Jewellery at LVBT" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>Amadoria<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <figure class="image-text-widget box effect-black-fill">
              <a href="/collections/lyla-bo">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="http://cdn.shopify.com/s/files/1/0653/1555/products/LYLABO-Dakota-Fedora_large.png?v=1437335774" alt="Lyla & Bo at LVBT" />
                <div class="mjbtitle">
                  <div class="inner">
                    <h3>LYLA&amp;BO<span aria-hidden="true" class="glyph slider-right"></span></h3>
                  </div>
                </div>
              </a>
            </figure>
          </div>

          <div class="columns large-3">
            <div class="newsletter-block box">
              <div class="newsletter-block-content">
                <h3>Want to stay in the know?<br /><br />Subscribe to get the latest from LVBT to your inbox.</h3>
              </div>
              <div class="mjbtitle">
                <div class="wide-inner">
                  <h3><a href="/pages/newsletter-sign-up">Subscribe</a><span aria-hidden="true" class="glyph slider-right"></span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>{% endif %}
      </div>{% endif %}{% endfor %}
    </div>

    <div class="widgets testimonials">
      <div class="small-promos">
        <div class="row">
          <div class="columns large-12 r-r">
            <h2 class="font-headings clearfix">What our customers say&hellip;</h2>
          </div>
        </div>
        <div class="row">
          <div class="columns large-4 review-block">
            <a href="https://www.trustpilot.com/review/lvbt.co.uk/55e056b30000ff000903413a"><span><strong>Style and elegance without breaking the bank!</strong></span></a>
            <div class="rating">
              <div>
                <span>&#9734;<span>&#9734;<span>&#9734;<span>&#9734;<span>&#9734;</span></span></span></span></span>
              </div>
            </div>
            <div class="review">
              <blockquote>I can always count on LVBT for great quality pieces that are stylishly on point and really affordable! Keep up the good work!</blockquote>
              <cite>Shelley</cite>
            </div>
          </div>
          <div class="columns large-4 review-block">
            <a href="https://www.trustpilot.com/review/lvbt.co.uk/55dad7c60000ff000901dbc3"><span><strong>Excellent product!</strong></span></a>
            <div class="rating">
              <div>
                <span>&#9734;<span>&#9734;<span>&#9734;<span>&#9734;<span>&#9734;</span></span></span></span></span>
              </div>
            </div>
            <div class="review">
              <blockquote>Excellent quality and value for money, love the LVBT range, definitely recommend this company!</blockquote>
              <cite>Johnathon</cite>
            </div>
          </div>
          <div class="columns large-4 review-block">
            <a href="https://www.trustpilot.com/review/lvbt.co.uk/55da15830000ff000901be8e"><span><strong>Perfect</strong></span></a>
            <div class="rating">
              <div>
                <span>&#9734;<span>&#9734;<span>&#9734;<span>&#9734;<span>&#9734;</span></span></span></span></span>
              </div>
            </div>
            <div class="review">
              <blockquote>Loved the items bought, cutting edge style, lots of compliments, easy to wear - perfect for me and ticked all the boxes.</blockquote>
              <cite>Jane</cite>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="widgets">
      <div class="small-promos">
        <div class="row">
          <div class="social-columns large-3 social">
            <div class="instagram-block">
              <a href="https://instagram.com/lvbt_uk/"><img src="https://cdn.shopify.com/s/files/1/0653/1555/files/instagram.svg?2282507916676215286" alt="LVBT on Instagram" /></a>
            </div>
          </div>
          <div class="social-columns large-3 social">
            <div class="facebook-block">
              <a href="https://facebook.com/lovebytaryn/"><img src="https://cdn.shopify.com/s/files/1/0653/1555/files/facebook.svg?2282507916676215286" alt="LVBT on Facebook" /></a>
            </div>
          </div>
          <div class="social-columns large-3 social">
            <div class="twitter-block">
              <a href="https://twitter.com/lvbt_uk/"><img src="https://cdn.shopify.com/s/files/1/0653/1555/files/twitter.svg?2282507916676215286" alt="LVBT on Twitter" /></a>
            </div>
          </div>
          <div class="social-columns large-3 social">
            <div class="pinterest-block">
              <a href="https://uk.pinterest.com/lovebytaryn/"><img src="https://cdn.shopify.com/s/files/1/0653/1555/files/pinterest.svg?10415044287147164641" alt="LVBT on Pinterest" /></a>
            </div>
          </div>
        </div>
      </div>
    </div