<div class="about--desktop" style="background: url(https://cdn.shopify.com/s/files/1/0653/1555/files/LVBT_2015_pr_002.jpg?8263111585083108148) center center;">
  <div class="about-content-area">
    <div class="tight-title">
      <h1 style="text-align: center; line-height: 1.0em; margin-bottom: 0;">Unique jewellery and accessories from around the world</h1>
    </div>
  </div>
</div>

<div class="about--mobile" style="background: url(https://cdn.shopify.com/s/files/1/0653/1555/files/lvbt-about-mobile-strip.jpg?17020801293297888944) no-repeat scroll center top / auto 100%;">
  <div class="about-content-area">
    <div class="tight-title">
      <h1 style="text-align: center; line-height: 1.0em; margin-bottom: 0;">Unique jewellery and accessories from around the world</h1>
    </div>
  </div>
</div>

<div class="full-width about-body">
  <div class="push-2 large-8">
    <p>LVBT, founded in 2014 by Taryn Courland-Bergman was created to inspire individuals to embrace their own natural beauty and to define their own unique style. We want you to be you, and not to be pressured by the social trends that constantly try to define us.</p>
    <p>Taryn’s passion for jewellery and accessories was inspired by her late mother and ultimate role-model Elise, who sadly passed away from cancer a few years ago. Elise always taught Taryn to be confident in her own skin, embrace her own natural beauty and to take pride in herself; values that even during her battle with cancer something she never stopped believing in. Despite losing her hair Elise would always say <em>“I am my own kind of beautiful. All I need is to wear a gorgeous piece of jewellery and this will enhance my natural beauty, giving those around me a glimpse into who I am.”</em></p>
    <p>It was these ideals that inspired LVBT as a business and the basis of our belief. Be your own kind of beautiful.</p>
    <p>The aim of LVBT is to encourage each and every one of you to embrace who you are and to define your own style - creating your own identity with a little LVBT inspiration and guidance.</p>
  </div>
</div>

<div class="module parallax parallax-1"></div>

<div class="full-width about-body sharp-cut">
  <div class="push-2 large-8">
    <h2 class="text-center">Our brands</h2>
    <p>The brands we offer are the backbone of LVBT, all carefully handpicked from around the world and brought together for their individual qualities.</p>
    <ul>
      <li>We work with incredible brands from all over the world and currently represent 14 unique brands individually sourced from eight countries around the world.</li>
      <li>Every brand and designer we work with is unique in their own right. We are proud to support them at LVBT and we seek mutually beneficial and long-term relationships, not another unethical fashion fad.</li>
      <li>There are no rules when it comes to styling: we strive to bring you unique brands to enhance who you are, your personality and your style.</li>
      <li>All of our brands may be different but they beautifully complement each other in combination with other jewellery styles. Mix and match as much as you please.</li>
      <li>We invite existing and up-and-coming designers alike, to join in the LVBT story and grow our family together.</li>
    </ul>
    <h3>Here are just a few of our favourites to date</h3>
  </div>
</div>


<div class="brand-block">
  <div class="brands__content">
    <div class="grid brand-images" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 0 }'>
      <div class="row">

        <div class="columns qrt single-brand grid-item">
          <figure class="brands__image--sqr hp-black">
            <a href="{{ settings.about-block-image-text-1-link }}">
              <img src="{{ 'about-block-image-text-1.jpg' | asset_url }}" alt="{{ settings.about-block-image-text-1-alt }}" />
              <div class="lvbt-title">
                <figcaption>{{ settings.about-block-image-text-1-title }}<i class="fa fa-angle-right"></i></figcaption>
              </div>
              <div class="btn"><span>EXPLORE</span></div>
            </a>
          </figure>
        </div>

        <div class="columns qrt single-brand grid-item">
          <figure class="brands__image--sqr hp-black">
            <a href="{{ settings.about-block-image-text-2-link }}">
              <img src="{{ 'about-block-image-text-2.jpg' | asset_url }}" alt="{{ settings.about-block-image-text-2-alt }}" />
              <div class="lvbt-title">
                <figcaption>{{ settings.about-block-image-text-2-title }}<i class="fa fa-angle-right"></i></figcaption>
              </div>
              <div class="btn"><span>EXPLORE</span></div>
            </a>
          </figure>
        </div>

        <div class="columns qrt single-brand grid-item">
          <figure class="brands__image--sqr hp-black">
            <a href="{{ settings.about-block-image-text-3-link }}">
              <img src="{{ 'about-block-image-text-3.jpg' | asset_url }}" alt="{{ settings.about-block-image-text-3-alt }}" />
              <div class="lvbt-title">
                <figcaption>{{ settings.about-block-image-text-3-title }}<i class="fa fa-angle-right"></i></figcaption>
              </div>
              <div class="btn"><span>EXPLORE</span></div>
            </a>
          </figure>
        </div>

        <div class="columns qrt single-brand grid-item">
          <figure class="brands__image--sqr hp-black">
            <a href="{{ settings.about-block-image-text-4-link }}">
              <img src="{{ 'about-block-image-text-4.jpg' | asset_url }}" alt="{{ settings.about-block-image-text-4-alt }}" />
              <div class="lvbt-title">
                <figcaption>{{ settings.about-block-image-text-4-title }}<i class="fa fa-angle-right"></i></figcaption>
              </div>
              <div class="btn"><span>EXPLORE</span></div>
            </a>
          </figure>
        </div>

      </div>
    </div>
    <a class="ghost-button-semi-transparent--fixed" href="/collections">Explore all <br /> LVBT brands</a>
  </div>
</div>


{{ page.content }}