<div class="row">
  <div class="columns">
    {% include 'snippet-breadcrumbs' %}
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
</div>

  
<div class="row">
  <div class="columns large-5">    
    <div class="page-content rte-content colored-links">
      
      {{ page.content }}
    </div>
  </div>

  <div class="columns large-6 push-1  ">
    <div id="competition_form">
      <form accept-charset="UTF-8" action="" class="contact-form" method="post"><input name="form_type" type="hidden" value="contact" /><input name="utf8" type="hidden" value="✓" />

      {% if form.posted_successfully? %}
      <div class="success feedback accent-text">
        <p>Thank you for entering our competition. Winners will be announced once the competition has closed. <a href="/">Full terms and conditions are avaliable here</a>.</p>
        <br />
        <h2>Discover the latest from LVBT</h2>
        <a href="/collections/all"><h3>Start shopping now<span aria-hidden="true" class="glyph slider-right"></span></h3></a>
        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn.shopify.com/s/files/1/0730/5135/files/ashian-homepage.jpg" alt="Ashiana at LVBT" />
      </div>

      {% endif %}

      {% if form.errors %}
      <div class="error feedback accent-text">
        <p>Oops, sorry. We were unable to submit your competition entry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and try again:</p>
        {% for field in form.errors %}
          <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
        {% endfor %}
      </div>
      {% endif %}
      
      {% unless form.posted_successfully? %}

      <h3>Enter our summer accessories competition</h3>

      <iframe height="400" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%; border:none"  src="https://lvbt.wufoo.com/embed/z1go3tu41i5xf1n/"></iframe>

      <p><a href="http://mb-test-2.myshopify.com/pages/summer-accessories-terms-and-conditions">Competition Terms &amp; Conditions</a></p>
      
      {% endunless %}
    
      {% if form.posted_successfully? or form.errors %}
        <script>
          window.location.hash = '#page-content';
        </script>
      {% endif %}

    </form>
    </div>

  </div>
</div>